* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
#header {
  padding: 50px;
  background-color: lightblue;
}
.header-item {
  padding: 50px;
}
.data {
  border: 2px solid green;
  padding: 50px;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
